.navbar {
    background-color: rgba(0, 0, 0, 0.3); /* Latar belakang transparan */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; /* Pastikan navbar di atas konten */
}
.containers {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links a {
    text-decoration: none;
    color: white;
}

.button-container {
    display: flex;
}

.btn {
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    margin-left: 10px;
    border: none;
    cursor: pointer;
}
.judul {
  font-size: 50px;
}

.judul2 {
  font-size: 40px;
}

.nama {
  font-size: 37px;
}

.container {
  width: 80%;
  margin: auto;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .container {
    width: 100%;
  }
}

.container2 {
  margin: auto;
  text-align: center;
}

.kelas {
  font-size: 35px;
}

.audio {
  color: blue;
}

.kontak {
  font-size: 33px;
}
